@charset "utf-8";

body{
    background-color:#0B0C10;
    margin:0px;
    padding:0px;
}

.contacts{
    height: auto;
    margin:0px;
    padding:0px;
    background-image: url("alex-perez-ioJBsYQ-pPM-unsplash.jpg");
    background-size: contain;
}

/*Credit to B Coder - https://www.youtube.com/watch?v=nWXm7Y7Q_Pk&ab_channel=BCoder*/
.snow,
.snow:before,
.snow:after{
    position: absolute;
    top:-600px;
    left:0;
    bottom:0%;
    right:0%;
    background-image:
            radial-gradient(3px 3px at 293px 539px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 221px 202px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 135px 158px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 168px 6px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 504px 313px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 84px 354px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(6px 6px at 537px 201px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 273px 268px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 190px 331px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 402px 511px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 8px 58px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 510px 454px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(6px 6px at 438px 535px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 491px 310px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 105px 52px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(6px 6px at 28px 392px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 351px 427px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 184px 260px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 99px 72px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 180px 416px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(6px 6px at 291px 114px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 9px 270px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 457px 552px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(6px 6px at 419px 132px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 372px 152px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 443px 575px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 368px 561px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 261px 5px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 413px 340px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 527px 531px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 213px 63px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 23px 524px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 454px 188px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 74px 322px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(6px 6px at 427px 248px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(6px 6px at 591px 482px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 361px 105px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 238px 556px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 66px 228px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(4px 4px at 173px 515px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 408px 209px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 220px 318px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 534px 577px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 118px 342px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(6px 6px at 253px 341px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 122px 547px, white 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 493px 267px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 86px 101px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
            radial-gradient(5px 5px at 275px 9px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0));
    background-size: 700px 600px;
    animation: snow 3s linear infinite;
    content: "";
}
.snow:after{
    margin-left: -200px;
    opacity: .4;
    animation-duration: 10s;
    animation-direction: reverse;
    filter: blur(3px);
}
.snow:before{
    animation-duration:35s;
    animation-direction:reverse;
    margin-left:-300px;
    opacity:0.05;
    filter: blur(1.5px);
}
@keyframes snow{
    to{
        transform:translateY(600px);
    }
}
.wrapper{
    display: inline-flex;
}
.wrapper .static-txt{
    color:#66FCF1;
    font-size:50px;
    margin-top:20px;
    font-weight:400;
}
.wrapper .dynamic-txts{
    margin-left:-25px;
    margin-top:0px;
    line-height:90px;
    height:90px;
    overflow:hidden;
}
.dynamic-txts li{
    color: #C5C6C7;
    list-style:none;
    font-size:60px;
    font-weight:500;
    position:relative;
    top:0;
    animation:slide 6s steps(4) infinite;
}
@keyframes slide{
    100%{
        top:-360px;
    }
}
.dynamic-txts li span{
    position:relative;
}
.dynamic-txts li span:after{
    content:"";
    position:absolute;
    left:0;
    height:120%;
    width:100%;
    background:#0B0C10;
    border-left:2px solid #C5C6C7;
    animation:typing 1.5s steps(10) infinite;
}
@keyframes typing{
    100%{
        left:100%;
        margin:0 -35px 0 35px;
    }
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width:100%;
    height:110vh;
    background-color:#0B0C10;
}
.some-socials{
    background-image: url('snowEnd.jpg');
    background-size: 140%;
    background-color: #1f2833;
    height:120vh;
}
.logo{
    padding-left:90px;
}
nav{
    position: absolute;
    right:0;
    min-width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:60px;
    background-color:#0B0C10;
    box-shadow:2px 2px 12px rgb(69, 162, 158);
    padding:0px 5%;
}
.red{
    box-shadow:2px 2px 12px rgb(130, 30, 30);
}
nav ul{
    display:flex;
}
nav ul li a{
    margin:30px;
    font-family: Open Sans, serif;
    font-size:20px;
    font-weight:700;
}
.menu{
    font-family: Merriweather, serif;
    color:#C5C6C7;
    font-size:22px;
}
.text-container p:nth-child(1){
    font-family: Calibri, serif;
    font-weight: lighter;
    color:#66FCF1;
    font-size:20px;
}
.text-container p:nth-child(2){
    font-family: Calibri, serif;
    font-weight: bold;
    letter-spacing:1px;
    color:#66FCF1;
    font-size:50px;
}
.text-container p{
    line-height:0px;
    margin:45px 0px 25px;
}
.text-container{
    position:absolute;
    left:13%;
    top:42%;
    transform:translate(-13%,-42%);
}
.text-container button{
    width:130px;
    height:42px;
    border-radius:10px;
    font-family: Calibri, serif;
    font-weight:bold;
    font-size:14px;
    outline:none;
    margin:0px 10px;
}
.penguin{
    position:absolute;
    top:100px;
    padding-right: 40px;
    left:55%;
}
.read-more{
    border:2px solid #373636;
    color:#45A29E;
    background-color:#C5C6C7;
}
.down-cv{
    background-color:#45A29E;
    color:#C5C6C7;
    border:none;
}
button:active{
    transform:scale(1.1);
}
.discord-status{
     position:absolute;
     transform:translate(22%, 10%);
 }
.github-rank{
    position:absolute;
    transform:translate(21%, 70%);
}
.youtube-channels{
    position:absolute;
    padding-left:60%;
}
.google-calendar{
    position:absolute;
    transform:translate(22%, 112%);
}
.about-container{
    width:80%;
    height:330px;
    background-color:#1F2833;
    border-radius:20px;
    box-shadow:2px 2px 12px rgb(220, 70, 169);
    display:flex;
    margin:-7% auto 20px auto;
    position:relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height:255px;
}
.about-text{
    width:550px;
}
.about-text p:nth-child(1){
    color:#C5C6C7;
    font-family: Calibri, serif;
    font-weight: bold;
    font-size:23px;
    line-height:0px;
}
.about-text p:nth-child(2){
    color:#C5C6C7;
    font-size:13px;
    font-family: Calibri, serif;
    font-weight:bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4),
.about-text p:nth-child(5){
    color:#7e7d7d;
    font-family: Open Sans, serif;
    font-size:16px;
}
.about-text button{
    width:120px;
    height:40px;
    color:#ffffff;;
    outline:none;
    border:none;
    font-family:Open Sans, serif;
    background-color:#262525;
}
.contacts-container{
    width:80%;
    height:330px;
    background-color:#1F2833;
    border-radius:20px;
    box-shadow:2px 2px 12px rgb(220, 70, 169);
    display:flex;
    margin:-7% auto 20px auto;
    position:relative;
    justify-content: space-evenly;
    align-items: center;
}
.contacts-container img{
    height:400px;
}
.services{
    height:600px;

    /*background-size: ;*/
    padding:2% 10% 0px 10%;
}
.services-text p:nth-child(1){
    font-family:Open Sans, serif;
    font-weight:bold;
    color:#3e3d3d;
    font-size:30px;
    line-height:0px;
}
.services-text p:nth-child(2){
    font-family:Open Sans, serif;
    font-weight:bold;
    color:#3e3d3d;
    font-size:15px;
    line-height:5px;
}
.services-text p:nth-child(3){
    font-family:Open Sans, serif;
    color:#7e7d7d;
}
.services-text{
    width: 500px;
    margin:50px 0px;
}
.box-1,.box-2,.box-3{
    width:300px;
    height:320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 12px rgba(0,0,0,0.3);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-container{
    display:flex;
    justify-content: space-between;
 }
.box-1{
    background-image: url("basketball.jpeg")
}
.box-2{
    background-image: url("Coding.jpeg")
}
.box-3{
    background-image: url("CAD.jpg")
}
.box-1 span,
.box-2 span,
.box-3 span{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Open Sans, serif;
    font-weight:bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color:#ffffff;
    font-family:Open Sans, serif;
    font-size:23px;
    line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family:Open Sans, serif;
    text-align: center;
    width:230px;
    margin:0px 0px 20px 0px;
    color:#f6f5f5;
}
.box-1 button,
.box-2 button,
.box-3 button{
    width:100px;
    height:30px;
    background-color:#ffffff;
    border:none;
    outline:none;
    border-radius:5px;
}
.contact-me{
    width:100%;
    height:280px;
    background-image:url("Bar.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.contact-me p{
    color:#ffffff;
    font-size:30px;
    font-family:Open Sans, serif;
    font-weight:bold;
    border-bottom:2px solid #ffffff;
}
.contact-me button{
    width:200px;
    height:40px;
    background-color:#ffffff;
    outline:none;
    border:none;
    font-size:14px;
    font-weight: bold;
}
footer{
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}
footer p{
    font-family:Open Sans, serif;
}
footer p:nth-child(1){
    font-size:30px;
    font-weight:bold;
    color:#191919;
    line-height:10px;
}
footer p:nth-child(2){
    font-size:16px;
    color:#7e7d7d;
    width:600px;
    text-align:center;
}
.social-icons a{
    width:40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin:20px 10px;
    border-radius:50%;
}
.social-icons{
    display:flex;
}
.copyright{
    color:#565555;
    font-size:13px;
    position: absolute;
    left:50%;
    bottom: 10px;
    transform:translateX(-50%);
}
.social-icons i{
    color:#000000;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color: #000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color:#ffffff;
    transition: all ease 0.5s;
}
.a-social-b{
    position:fixed;
    top:50%;
    right:0px;
    transform:translateY(-50%);
}
.a-social-b a{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    padding:0px;
    margin:0px;
    line-height:0px;
    background-color:#ffffff;
    border:1px solid #cbcbcb;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i{
    color:#2b2b2b;
    font-size:20px;
}